* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#image .image {
    position: relative;
    width: 100%;
    height: 100%;
}

#image .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar {
    background-color: #564486;
    overflow: hidden;
}

.navbar .logo {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar .navigation a {
    float: right;
    color: #f2f2f2;
    text-decoration: none;
    margin: 20px;
    font-size: 21px;
}


/* .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #f2f2f2;
    background-color: #50b0e7;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: f2f2f2;
} */