<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interview Bot-User page</title>
    <style>
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height:100vh;
        }
        div{
            display:flex;
            flex-direction: column;
            width:90%;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <img src="images/thanks.png" alt="">
        <h1>Thanks for your information!</h1>
        <p>Your information has been saved!</p>
        <p> we will contact you shortly!</p>
    </div>
</body>
</html>
